{% extends 'theme.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% if messages %}
      <div class="alert alert-dismissible fade show mt-3" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Transfer</h3>
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'transfer' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="amount" class="form-label">Amount:</label>
              <input type="number" id="amount" name="amount" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="recipient" class="form-label">Recipient:</label>
              <input type="text" id="recipient" name="recipient" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Transfer</button>
          </form>
          <a href="{% url 'balance' %}" class="btn btn-primary mt-3">Back To Wallet</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}